<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<%= link_to "New post", new_post_path %>

<%= turbo_frame_tag "posts_container", src: posts_url(format: :turbo_stream, page: params[:page]), loading: "lazy" do %>
  <div id="posts" style="border: 10px solid red;">
    <% @posts.each do |post| %>
      <%= render post %>
      <p>
        <%= link_to "Show this post", post %>
      </p>
    <% end %>
  </div>
<% end %>

<%# containers %>


<%= turbo_frame_tag "posts_pagination" do %>
  <%= pagy_nav(@pagy).html_safe %>
<% end %>


